body{
background-image:url() ;
background-repeat: no-repeat; 
box-sizing: border-box;
  margin: 0;
  padding: 0;


}
.bg{
    height: 100%;
  width: 100%;
}
div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  


}
h1{
  border-style: dashed;

}